<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alanisabadines.batangaseats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" android:label="Homepage" />
        <activity android:name=".LomiPage" android:label="Lomipage" />
        <activity android:name=".GotongBatangas" android:label="Gotong Batangas" />
        <activity android:name=".Bulalo" android:label="Bulalo" />
        <activity android:name=".TapangTaal" android:label="Tapang Taal" />
        <activity android:name=".Taghilaw" android:label="Taghilaw" />
        <activity android:name=".TamalesngIbaan" android:label="Tamales ng Ibaan" />
        <activity android:name=".BikongBatangas" android:label="Bikong Batangas" />
        <activity android:name=".AtcharangCalaca" android:label="Atcharang Calaca" />
        <activity android:name=".KapengBarako" android:label="Kapeng Barako" />
        <activity android:name=".Panutsa" android:label="Panutsa" />
        <activity android:name=".BagoongBalayan" android:label="Bagoong Balayan" />
        <activity android:name=".DeepFriedTawilis" android:label="Deep Fried Tawilis" />
        <activity android:name=".SinigangNaMaliputo" android:label="Sinigang na Maliputo" />
        <activity android:name=".SinaingNaTulingan" android:label="Sinaing na Tulingan" />
        <activity android:name=".Tinapa" android:label="Tinapa" />
        <service android:name=".CustomService"></service>
    </application>

</manifest>